{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Рабочее место планировщика рабочих центров</title>
        <link type="text/css" href="{% static 'scheduler/css/scheduler.css' %}" rel="stylesheet" />
    </head>

    <body>
        {% if request.user.is_authenticated %}
        <div class="logined_user">{{ user.username }} | <a href="{% url 'logout' %}"> Выйти </a></div>
        <a href="{% url 'instruction' %}" class="red_word">Инструкция</a>
        <a href="{% url 'scheme' %}" class="red_word">Планировка</a> <br />
        {% else %} <a href="{% url 'login' %}"> Войти </a>
        {%endif %}
        <!-- prettier-ignore -->
        {% if user.username == 'admin' %}
        <a href="{% url 'home' %}">Назад</a> <br />
        {%endif %}
        <h1>Рабочее место планировщика рабочих центров</h1>
        <br />
        <h1>Изменено</h1>
        <table title="График рабочих центров" class="table">
        {% for row, value in errors.changed_rows.items %}

            <tr class="table_row">
                <td class="td_cell">{{ row }}</td>
                <td class="td_cell">{{ value.0.model_name }}</td>
                <td class="td_cell">{{ value.0.order }}</td>
                <td class="td_cell">{{ value.0.model_order_query }}</td>
                <td class="td_cell">{{ value.0.excel_list_name }}</td>
                <td class="td_cell">{{ value.0.op_number }}</td>
                <td class="td_cell">{{ value.0.op_name }}</td>
                <td class="td_cell">{{ value.0.ws_name }}</td>
                <td class="td_cell">{{ value.0.op_name_full }}</td>
                <td class="td_cell">{{ value.0.ws_number }}</td>
                <td class="td_cell">{{ value.0.norm_tech }}</td>
                <td class="td_cell">{{ value.0.draw_filename }}</td>
            </tr>
        {% endfor %}
        </table>
        <h1>Удалено</h1>
        <table title="График рабочих центров" class="table">
            {% for row, value in errors.deleted_rows.items %}
            <tr class="table_row">
                <td class="td_cell">{{ row }}</td>
                <td class="td_cell">{{ value.model_name }}</td>
                <td class="td_cell">{{ value.order }}</td>
                <td class="td_cell">{{ value.model_order_query }}</td>
                <td class="td_cell">{{ value.excel_list_name }}</td>
                <td class="td_cell">{{ value.op_number }}</td>
                <td class="td_cell">{{ value.op_name }}</td>
                <td class="td_cell">{{ value.ws_name }}</td>
                <td class="td_cell">{{ value.op_name_full }}</td>
                <td class="td_cell">{{ value.ws_number }}</td>
                <td class="td_cell">{{ value.norm_tech }}</td>
                <td class="td_cell">{{ value.draw_filename }}</td>
            </tr>
            {% endfor %}
        </table>

        <h1>Добавлено</h1>
        <table title="График рабочих центров" class="table">
            {% for row, values in errors.added_rows.items %}
            <tr class="table_row">
                <td class="td_cell">{{ row }}</td>
                {% for key, value in values.items %}
                <td class="td_cell">{{ value }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>

        <!-- prettier-ignore -->
        {% if user.username == 'admin' %}
        <a href="{% url 'home' %}">Назад</a> <br />
        {%endif %}
        <script>
           function onChange(){
               document.getElementById("form2").submit();
          }
        </script>
        <script src="{% static 'scheduler/js/schedulerwp.js' %}"></script>
    </body>
</html>
